body {
	background: #F0F6FF;
	color: #1E3A5F;
	font-family: Lora, serif;
	font-size: 16px;
	font-weight: lighter;
}

h1, h2, h3{
	font-family: Roboto, sans-serif;
}

h1{
	color: #0A3D62;
    font-weight: 900;
    letter-spacing: 10px;
    font-size: 32px;
    text-transform: uppercase;
}

h2 {
	color: #2563EB;
	font-size: 20px;
	font-weight: 500;
}

a{
	font-family: Roboto, sans-serif;
	text-decoration: none;
	color: #3B82F6;
	font-weight: 600;
	font-size: 16px;
}

a:hover {
	color:#0A3D62;
}

/* Custom design with class */

.container{
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white{
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle{
	border-radius: 50%;
}

.btn-blue{
	background-color: #2563EB;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover{
	background-color: #0A3D62;
	color: white;
}

.list-inline{
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: #93C5FD;
}

.list-inline i:hover {
	color: #2563EB;
}

#introduction p {
	margin-bottom: 40px;
}